<h1>ClassList</h1>

<h3>List of students:</h3>
<ul>
  <li>Monica</li>
<<<<<<< HEAD
  <li>Jody</li>
=======
  <li>Zach</li>
<<<<<<< HEAD
  <li>Olga</li>
=======
>>>>>>> 6f1bc998d657aebd077b01a8f0ccd4e2f99a4b0d
  <li></li>
>>>>>>> bbaeae181801f4a99581fcd4ad66a2f6d35a7a7a
</ul>