<h1>ClassList</h1>

<h3>List of students:</h3>
<ul>
<<<<<<< HEAD
  <li>Eddie Kamand</li>
=======
  <li>Monica</li>
<<<<<<< HEAD
>>>>>>> b6f50afb914be32bbab1391e7409c13cb6507c39
  <li></li>
=======
  <li>Zach</li>
>>>>>>> 6f1bc998d657aebd077b01a8f0ccd4e2f99a4b0d
  <li></li>
</ul>